* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: #f4f4f4;
}
.flex{
    display: flex;
    justify-content: center;
    justify-items: center;
}