.page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
}
.my-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
}
.my-form h1 {
  text-align: center;
}
.my-form input {
  padding: 10px;
  border-radius: 10px;
}
.my-form button {
  background-color: rgb(126, 112, 112);
  padding: 5px;
  border-radius: 8px;
}
